default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
        args: [--fix]
  - repo: local
    hooks:
      - id: pytest
        name: Run pytest
        entry: uv run --frozen pytest --exitfirst
        language: python
        types: [python]
        stages: [pre-push]
        pass_filenames: false
        always_run: true
